<div class="container__all">

  <div class="cover">

    <div class="container__cover">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="container__info">
              <h1>Decora tus espacios con asombrosos</h1>
              <h2>Cuadros</h2>
              <p>
                Cuadros decorativos elaborados a partir de una inteligencia artificial.
                El arte generado por la IA es un género totalmente nuevo.
                Ofrece resultados de gran calidad, en grandes resoluciones y las capacidades son casi ilimitadas.
              </p>
              <input type="button" value="Productos" />
              <input type="button" value="Persolaliza el tuyo" />
            </div>
          </div>


          <div class="col-lg-6 col-md-12">





                <swiper
                [effect]="'cards'" [grabCursor]="true"
                [autoplay]="{
                  delay: 3500,
                  disableOnInteraction: false
                }"
                class="mySwiper">

                <ng-template swiperSlide><img class="img1" src="assets/imgIA/1.png"  width="100%" /></ng-template
                  ><ng-template swiperSlide><img class="img1" src="assets/imgIA/2.png" width="100%" /></ng-template
                  ><ng-template swiperSlide><img class="img1" src="assets/imgIA/3.png" width="100%" /></ng-template
                  ><ng-template swiperSlide><img class="img1" src="assets/imgIA/4.png" width="100%" /></ng-template
                  ><ng-template swiperSlide><img class="img1" src="assets/imgIA/5.png" width="100%" /></ng-template
                  ><ng-template swiperSlide><img class="img1" src="assets/imgIA/6.png" width="100%" /></ng-template
                  ><ng-template swiperSlide><img class="img1"src="assets/imgIA/7.png" width="100%" /></ng-template>
                 </swiper>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

