<div class="slide">
  <div class="container">
      <div class="seccion_slide">
        <h1>Imagenes Generadas por la IA</h1>
      </div>

          <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [loop]="true"
          [autoplay]="{
              delay: 2500,
              disableOnInteraction: false
            }"
          [navigation]="true"
          class="mySwiper"
        >
          <ng-template swiperSlide><img src="assets/imgIA/1.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/2.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/3.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/4.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/5.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/6.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/7.png" class="1" width="100%" /></ng-template
          ><ng-template swiperSlide><img src="assets/imgIA/13.png" class="1" width="100%" /></ng-template>
          ><ng-template swiperSlide><img src="assets/imgIA/14.png" class="1" width="100%" /></ng-template>
          ><ng-template swiperSlide><img src="assets/imgIA/15.png" class="1" width="100%" /></ng-template>
        </swiper>

      </div>
</div>

