<footer>

  <div class="container-footer-all">

    <div class="container-body">

      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Más información de la compañia</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, velit
              voluptatum. Blanditiis vitae assumenda debitis ad laborum maxime optio
              aspernatur.
            </p>
          </div>
          <div class="col">
            <h1>Redes Sociales</h1>
            <div class="row">
              <i class="fa-brands fa-facebook icon"></i>
              <label>Siguenos en Facebook</label>
            </div>
            <div class="row">
              <i class="fa-brands fa-instagram icon"></i>
              <label>Siguenos en Instagram</label>
            </div>
            <div class="row">
              <i class="fa-brands fa-tiktok icon"></i>
              <label>Siguenos en TikTok</label>
            </div>
            <div class="row">
              <i class="fa-brands fa-pinterest icon"></i>
              <label>Siguenos en Pinterest</label>
            </div>
          </div>
          <div class="col">
            <h1>Informacion Contactos</h1>

        <div class="row2">
          <i class="fa-solid fa-house-user icon"></i>
          <img src="" alt="" />
          <label>
            Av. San Mateo 2340 Haciendas de Zapopan 45200 Tesistan, JAL Mexico
          </label>
        </div>

        <div class="row2">
          <i class="fa-brands fa-whatsapp icon"></i>
          <img src="" alt="" />
          <label> 3311474711 </label>
        </div>

        <div class="row2">
          <i class="fa-sharp fa-solid fa-envelope-circle-check icon"></i>
          <label> aldo_roman13@hotmail.com </label>
        </div>
          </div>
        </div>
      </div>

  </div>

  <br><br>
  <div class="container_footer">
    <div class="footer">
    <div class="copyrigth">
      © Todos los derechos reservados | <a href="">ArtiDigital</a>
    </div>

    <div class="information">
      <a href="">Informacion Compañia</a> |
      <a href="">Privacion y Politica</a> |
      <a href="">Terminos y Condiciones</a>
    </div>
    </div>
  </div>

  </div>


</footer>
