<form class="formulario">

  <h1>Datos</h1>

   <div class="contenedor">

   <div class="input-contenedor">
       <i class="fas fa-user icon"></i>
       <input type="text" placeholder="Nombre Completo">
       </div>

       <div class="input-contenedor">
          <i class="fa-solid fa-phone icon"></i>
          <input type="text" placeholder="telefono">
          </div>

       <div class="input-contenedor">
       <i class="fa-solid fa-location-dot icon"></i>
       <input type="text" placeholder="Direccion">
       </div>

       <div class="input-contenedor">
          <i class="fa-solid fa-earth-americas icon"></i>
          <input type="text" placeholder="Pais">
          </div>

      <div class="input-contenedor">
          <i class="fa-solid fa-city icon"></i>
          <input type="text" placeholder="Ciudad">
      </div>

      <div class="input-contenedor">
          <i class="fa-solid fa-house icon"></i>
          <input type="text" placeholder="Municipio">
      </div>

      <div class="input-contenedor">
          <i class="fa-solid fa-paper-plane icon"></i>
          <input type="text" placeholder="Codigo Postal">
      </div>


       <input type="submit" value="Actualizar" class="button">

       <div class="input-boton">

        <a href="#" >
          <button class="btn btn-outline-danger mt-3">Cerrar sesión<i class="fa-solid fa-right-to-bracket icon"></i></button>
        </a>

      </div>

       </div>
</form>

