<header id="header">

  <div class="container_header">
    <div class="logo">
      <img src="assets/Img_Arti/logo1.png" alt="logo">
    </div>
    <div class="container__nav">
      <nav id="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#" class="nav-link" [routerLink]="['/productos']">Productos</a></li>
          <li><a href="#" class="nav-link" [routerLink]="['/perzonalisa']">Personaliza</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#miModal2">Cuenta </a></li>

        </ul>
      </nav>


      <div class="btn__menu" id="btn__menu"><i class="fas fa-bars"></i></div>
    </div>

  </div>

</header>

<script>
  window.onscroll = function(){

    scroll = document.documentElement.scrollTop;
    header = document.getElementById("header")

    if (scroll > 20){
      header.classList.add('nav__mod')
    }else if(scroll < 20){
      header.classList.remove('nav__mod')
    }
  }

  document.getElementById("btn_menu").addEventListener("click", mostrar_menu)
  menu= document.getElementById("header");
  nav= document.getElementById("nav");

  function mostrar_menu(){
    menu.classList.toggle('move_content');
    nav.classList.toggle('move_nav');
  }

</script>
