
<div class="servicios">
  <div class="container">
      <div class="seccion_servicios">

      </div>

      <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-6">
              <div class="card">
                <img src="assets/Servicios/lightbulb.png" class="1" width="100%" />
                  <h3>Cuadros unicos</h3>
                  <p>Con un toque artificial</p>
              </div>
          </div>

          <div class="col-lg-3 col-sm-6">
              <div class="card">
                <img src="assets/Servicios/picture.png" class="1" width="100%" />
                <h3>Recibe tus cuadros</h3>
                <p>diseño con la mejor calidad donde quieras</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
              <div class="card">
                <img src="assets/Servicios/caja-de-entrega.png" >
                  <h3>Tiempo de elaboracion</h3>
                  <p>De 5 a 10 dias habiles</p>
              </div>
          </div>

          <div class="col-lg-3 col-sm-6">
              <div class="card">
                  <img src="assets/Servicios/medal.png" width="40px" height="40px">
                  <h3>Garantia de producto</h3>
                  <p>Elaborado con los mejores materiales </p>
              </div>
          </div>
      </div>
  </div>
</div>
